$font: Candara;
$font-family:"Light";
$secondary_1:#bbdee9;
$secondary_2:#F6F7F7;
$font-size-navbar:50px;
$black: rgb(26, 25, 25);
$white: rgba(255,255,255,0.3);
$white_after: rgba(255,255,255,0.4);



@font-face {
    font-family: "Light";   /*Can be any text*/
    src: url("../Fonts/The\ Rainmaker.otf") format("opentype");
  }

